#anchor {
    -fx-background-image: url('../resources/fundoTelaInicial.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}
@font-face {
    font-family: 'Phobos';
    src: url(../resources/fonts/TTPhobosInline.otf) format('opentype');
}
.title {
    -fx-font-family: 'Phobos';
    -fx-text-fill: #fff4d6;
    -fx-font-size: 40px;
    -fx-font-weight: 900;
}